<h1 class="mt-5">Profile</h1>

<article class="message is-warning">
  <div class="message-header">
    <p>注意</p>
    <!-- <button class="delete" aria-label="delete"></button> -->
  </div>
  <div class="message-body">
    Profile情報は閲覧者、YUBUNE登録者に公開されます。ご自身のプライバシーを守るとともに、他者へのコミュニティ・ガイドラインを尊重するようにお願いします。
  </div>
</article>

<section class="section">
  <div class="container">
    <h1 class="title">Youtube情報</h1>
  </div>
</section>

<!-- チャンネルID＋サーチボタン -->
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">YoutubeのチャンネルID</label>
  </div>
  <div class="field-body has-addons">
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        size="30"
        type="text"
        disabled
        #channelId
        placeholder="UC21WXVxgH1EZ1FrQJJPT4qA"
        [value]="profile.youtubeChannelId"
      />
      <span class="icon is-small is-left">
        <i class="fab fa-youtube"></i>
      </span>
    </div>
    <div class="field has-addons">
      <div class="control">
        <p class="control">
          <a class="button is-info is-outlined" (click)="requestYoutubeDataChannelInfo(channelId.value)">Youtube情報を更新する</a>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- チャンネル名 -->
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">チャンネル名</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div>
        <img
          class="profile-thumbnails"
          [src]="profile.youtubeThumbnailsUrl ? profile.youtubeThumbnailsUrl : '/assets/profile/user-solid.svg'"
        />
      </div>
      <div class="control has-icons-left">
        <input class="input" type="text" disabled [value]="profile.youtubeChannelName" placeholder="HIKAKIN TV" />
        <span class="icon is-small is-left">
          <i class="fab fa-youtube"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Youtubeの概要 -->
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Youtube概要</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control has-icons-left">
        <textarea class="textarea" disabled placeholder="" [value]="profile.youtubeDescription"></textarea>
      </div>
    </div>
  </div>
</div>

<hr />

<!-- プロフィール -->

<section class="section">
  <div class="container">
    <h1 class="title">プロフィール</h1>
  </div>
</section>

<!-- 名前 -->
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">名前</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="text" [(ngModel)]="profile.name" placeholder="HIKAKIN" />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- 名前(カナ) -->
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">名前(カナ)</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="text" [(ngModel)]="profile.nameKatakana" placeholder="ヒカキン" />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Twitter -->
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Twitter</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="text" [(ngModel)]="profile.twitter" placeholder="@hikakin" />
        <span class="icon is-small is-left">
          <i class="fab fa-twitter"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- プロフィール -->
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Profile</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control has-icons-left">
        <a class="button is-info is-outlined mb-2" (click)="profile.selfIntroduction = profile.youtubeDescription">Youtubeの概要をコピー</a>
        <textarea class="textarea" maxlength="1024" placeholder="" [(ngModel)]="profile.selfIntroduction"></textarea>
      </div>
    </div>
  </div>
</div>

<hr />

<!-- 配信者のみ閲覧可能 -->

<section class="section">
  <div class="container">
    <h1 class="title">配信者(登録ユーザー)のみ閲覧可能情報</h1>
    <p>コラボを行いたいジャンルを選択してください。</p>
  </div>
</section>

<!-- ジャンル -->
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">コラボジャンル</label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="has-icons-left">
        <ng-container *ngFor="let genre of responseFindGenres">
          <div class="mt-1">{{ genre.environment }}</div>
          <div class="buttons">
            <a class="button is-small is-outlined" [ngClass]="{ 'is-info': t.has }" *ngFor="let t of genre.items" (click)="t.has = !t.has">
              <span class="icon is-small">
                <i class="far fa-check-circle" *ngIf="t.has"></i>
                <i class="far fa-circle" *ngIf="!t.has"></i>
              </span>
              <span>{{ t.name }}</span>
            </a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<!-- 保存ボタン -->

<hr />
<div class="field is-horizontal">
  <div class="field-label is-normal"></div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-info" (click)="setProfile()">保存</button>
      </div>
    </div>
  </div>
</div>
