.profile-thumbnails {
  height: 88px;
  width: 88px;
}

.section {
  padding: 1rem 1.5rem;
}

input[type='file'].upload-file {
  display: none;
}
.upload-file {
  border-radius: 5px;
  text-align: center;
  color: #444;
  padding-top: 0px;
  line-height: 74px;
  padding: 24px 48px;

  &.active {
    border: 2px dashed #3298dc;
    color: #3298dc;
    font-size : 1.25em;
  }

  &.none-active {
    border: 2px dotted #EEE;
  }
}

