<article class="media mt-6" *ngIf="user">
  <figure class="media-left">
    <p class="image">
      <img [src]="user.youtubeThumbnailsUrl" />
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <div class="mb-2">
        <strong class="channel">{{ user.youtubeChannelName }}</strong>
      </div>
      <nav class="level mb-0">
        <div class="level-left">
          <a class="level-item" target="_blank" rel="noopener" [href]="'https://youtube.com/channel/' + user.youtubeChannelId">
            <span class="icon is-large"><i class="fab fa-2x fa-youtube"></i></span>
          </a>
          <a class="level-item" target="_blank" rel="noopener" [href]="'https://twitter.com/' + user.twitter" *ngIf="user.twitter">
            <span class="icon is-large"><i class="fab fa-2x fa-twitter"></i></span>
          </a>
        </div>
      </nav>
      <pre>{{ user.youtubeDescription }}</pre>
    </div>
  </div>
</article>
