<h1 class="mt-5">ログイン</h1>
<p>配信者向けの登録/ログインを行います。ログインにはGoogleアカウント(<a href="https://developers.google.com/youtube/v3/getting-started?hl=ja" target="_blank" rel="noopener">Youtube Data API</a>)を利用します。</p>

<div class="google-img m-3" (click)="googleLogin()"></div>

<h2 class="mt-5">Google OAuthを使用する理由</h2>

<div class="content">
  <ul>
    <li>配信者のなりすまし行為を排除するため</li>
    <li>チャンネルID、チャンネル名、概要の取得</li>
    <li>
      本システムで使用するYoutube Data
      APIのscope(管理できる範囲)はYoutubeチャンネルに公開されている情報を取得することのみであり、個人情報漏洩のリスクを避けるためです。
    </li>
    <li>Use Scope : auth/youtube.readonly</li>
  </ul>
</div>
