.navbar-menu {
  font-weight: 600;
}

.active {
  background-color: #242424;
}

@media screen and (max-width: 1024px), print {
  .tablet {
    padding-left :10px;
    padding-right: 10px;
  }
}

.login-profile {
  font-size: 0.75rem;
}

.profile-button {
  width: 200px;
}

.top-icon {
  padding:0;
  margin-left:5px;
  margin-right:5px;
}

.top-icon img {
  max-height: 52px;
  height : 52PX;
}
