<nav class="container navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/top-icon.png" width="112" height="28" />
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      (click)="navbarActive = !navbarActive"
      [ngClass]="{ 'is-active': navbarActive }"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{ 'is-active': navbarActive }">
    <div class="navbar-start">
      <a class="navbar-item" (click)="navbarActive = false"> スケジュール </a>

      <a class="navbar-item" (click)="navbarActive = false" routerLink="profile" routerLink="u"> 配信者 </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> More </a>

        <div class="navbar-dropdown">
          <a (click)="navbarActive = false" routerLink="more/about" class="navbar-item">About</a>
          <hr class="navbar-divider" />
          <a (click)="navbarActive = false" routerLink="more/terms" class="navbar-item">利用規約</a>
          <a (click)="navbarActive = false" routerLink="more/privacy" class="navbar-item">プライバシーポリシー</a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item"></div>
      <div class="navbar-item" *ngIf="userInfoService.getUserInfo().youtubeChannelName !== ''">
        <div class="buttons">
          <a class="button is-inverted is-outlined profile-button" mat-button color="primary" [matMenuTriggerFor]="menu"
            ><span class="login-profile">{{ userInfoService.getUserInfo().youtubeChannelName }}<br />アカウント＆設定</span></a
          >
          <mat-menu #menu="matMenu" xPosition="before">
            <a class="navbar-item" (click)="navbarActive = false" routerLink="profile"> Profile </a>
            <a class="navbar-item" (click)="logout()">ログアウト </a>
          </mat-menu>
        </div>
      </div>
      <div class="navbar-item" *ngIf="userInfoService.getUserInfo().youtubeChannelName === ''">
        <div class="buttons">
          <a class="button is-inverted is-outlined" routerLink="login">ログイン</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container tablet">
  <router-outlet></router-outlet>
</div>

<footer class="footer mt-6">
  <div class="content has-text-centered">
    <p>
      <strong>YUBUNE</strong> by <a href="https://twitter.com/v_kurore" target="_blank" rel="noopener"><i class="fab fa-twitter"></i>Kurore</a>(<a href="https://github.com/mosapride" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i>mosapride</a>). The website content is licensed
      CC BY Yubune.
    </p>
  </div>
</footer>
