<section class="hero is-primary  is-medium has-bg-img-monkey outline">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Yubune
      </h1>
      <h2 class="subtitle">
        配信者同士の友好に
      </h2>
    </div>
  </div>
</section>


<section class="hero is-primary has-bg-img-money outline">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        完全無料
      </h1>
      <h2 class="subtitle">
        無料にて利用可能です
      </h2>
    </div>
  </div>
</section>

<section class="hero is-info has-bg-img-free outline">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        自由に登録・自由に脱退
      </h1>
      <h2 class="subtitle">
        自由に登録・脱退は自由に行なえます。サブスクリプションやマージなどを要求することはありません。
      </h2>
    </div>
  </div>
</section>


<section class="hero is-primary has-bg-img-coin outline">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        無料の理由
      </h1>
      <h2 class="subtitle">
        個人で運営していること。広告収入からサーバー代を補填するため。
      </h2>
    </div>
  </div>
</section>


