<h2 class="mt-5">About</h2>

<p>当サイト(YUBUNE)は配信者の交流のために作りました。個人勢、企業勢に関係なく使用することができます。</p>

<h2 class="mt-5">無料の理由</h2>

<p>当サイトは無料にて利用することができます。運営に必要なサーバー費用はクロレ(運営者)が自費で出しています。サイトには広告を付ける予定でサーバー費用に当てる予定です。</p>

<h2 class="mt-5">個人開発・運用</h2>

<p>当サイトはクロレ(運営者)が個人で開発・運用を行っています。</p>

<h2 class="mt-5">個人情報について</h2>

<p>配信者が自身で登録する情報は公開情報のみに絞っています。間違っても個人を特定される情報(本名、住所、電話番号等)の<strong>入力は行わないよう</strong>にしてください。</p>
<p>当サイトの配信者用ログインにはGoogle <a href="https://developers.google.com/youtube/v3/getting-started?hl=ja" target="_blank" rel="noopener">Youtube Data API</a>を利用しているためGoogleアカウントが必要です。</p>
<p>当サイトで利用する<a href="https://developers.google.com/youtube/v3/getting-started?hl=ja" target="_blank" rel="noopener">Youtube Data API</a>で取得できる情報はYoutubeで公開されている情報のみで個人情報は含まれません。</p>
