<div class="profile-body">
  <h2>プロフィール　編集画面</h2>
  <div class="profile-are">
    <div class="grid-container1">
      <div class="name">
        <span class="box-title"> おなまえ </span>
        <section>
          <div class="name-font">くろ[れ]</div>
        </section>
      </div>
      <div class="katakana">
        <span class="box-title"> ふりがな </span>
        <section>
          <div>くろ</div>
        </section>
      </div>
      <div class="nickname">
        <span class="box-title"> ニックネーム </span>
        <section>
          <div>くろ<br />くろん<br>くっっっっっくろこん<br></div>
        </section>
      </div>
      <div class="stature">
        <span class="box-title"> 身長 </span>
        <section>
          <div>14.3 MB</div>
        </section>
      </div>
      <div class="birthday">
        <span class="box-title"> 誕生日 </span>
        <section>
          <div>そのうち決める</div>
        </section>
      </div>
      <div class="sex">
        <span class="box-title"> 性別 </span>
        <section>
          <div>おっさん</div>
        </section>
      </div>
      <div class="view-count">
        <span class="box-title"> 総再生数 </span>
        <section>
          <div>999999999999</div>
        </section>
      </div>
      <div class="subscriber-count">
        <span class="box-title"> 登録者数 </span>
        <section>
          <div>99999999999</div>
        </section>
      </div>
      <div class="video-count">
        <span class="box-title"> 投稿動画 </span>
        <section>
          <div>99999999999</div>
        </section>
      </div>
      <div class="picture">
        <img
          src="https://yt3.ggpht.com/ytc/AAUvwng8d1P3CGzBEjFzefYDgxFdCXLJXUQ8Sc7Hkjfdkg=s240-c-k-c0x00ffffff-no-rj"
          width="240px"
          height="240px"
        />
      </div>
    </div>
    <div class="grid-container2">
      <div class="site">
        <span class="box-title"> リンク </span>
        <section>
          <div class="site-font"><a href="http://www.htmq.com/style/border.shtml">ゆーちゅーぶ</a></div>
        </section>
      </div>
      <div class="favorite">
        <span class="box-title"> 好き </span>
        <section>
          <div>くろくろくろれ<br />１２３４５６７８９０１２３４５６７８９０１２３４５６７８９</div>
        </section>
      </div>
      <div class="hate">
        <span class="box-title"> きらい </span>
        <section>
          <div>くろくろくろれ<br>大文字３０文字までっぽいね</div>
        </section>
      </div>
      <div class="contents">
        <span class="box-title"> 活動内容 </span>
        <section>
          <div>活動内容です。<br />活動内容活動内容活動内容活動内容活動内容活動</div>
        </section>
      </div>
      <div class="live-time">
        <span class="box-title"> 配信時間 </span>
        <div class="live-time-font">あああああああああああああああああ<br />いいいいいいいいいいいいいいいいいいい</div>
        <div class="gantt">
          <div class="gantt__row gantt__row--times">
            <div class="gantt__row-first"></div>
            <span>0</span><span></span><span></span> <span>3</span><span></span><span></span> <span>6</span><span></span><span></span>
            <span>9</span><span></span><span></span> <span>12</span><span></span><span></span> <span>15</span><span></span><span></span>
            <span>18</span><span></span><span></span> <span>21</span><span></span><span></span>
          </div>
          <div class="gantt__row gantt__row--lines" data-month="5">
            <span></span><span></span><span></span> <span></span><span></span><span></span> <span></span><span></span><span></span>
            <span></span><span></span><span></span> <span></span><span></span><span></span> <span></span><span></span><span></span>
            <span></span><span></span><span></span> <span></span><span></span><span></span>
          </div>
          <div class="gantt__row">
            <div class="gantt__row-first">平日</div>
            <ul class="gantt__row-bars">
              <li style="grid-column: 1/5"></li>
              <li [style.grid-column]="'10/15'"></li>
            </ul>
          </div>

          <div class="gantt__row">
            <div class="gantt__row-first">休日</div>
            <ul class="gantt__row-bars">
              <li style="grid-column: 1/4"></li>
              <li style="grid-column: 22/25"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="free-space">
        <span class="box-title"> フリースペース </span>
        <section>
          <div>活動内容です。<br />活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容</div>
        </section>
      </div>
    </div>
  </div>
</div>
