<div class="profile-body">
  <h2>プロフィール　編集画面</h2>
  <div class="profile-are">
    <div class="grid-container1">
      <div class="name">
        <span class="box-title"> おなまえ </span>
        <section>
          <div class="name-font">
            <input type="text" [(ngModel)]="profile.name" />
          </div>
        </section>
      </div>
      <div class="katakana">
        <span class="box-title"> ふりがな </span>
        <section>
          <div>
            <input type="text" [(ngModel)]="profile.nameKatakana" />
          </div>
        </section>
      </div>
      <div class="nickname">
        <span class="box-title"> ニックネーム </span>
        <section>
          <div class="div-textarea">
            <textarea rows="4" [(ngModel)]="profile.nickname"></textarea>
          </div>
        </section>
      </div>
      <div class="stature">
        <span class="box-title"> 身長 </span>
        <section>
          <div>
            <input type="text" [(ngModel)]="profile.stature" />
          </div>
        </section>
      </div>
      <div class="birthday">
        <span class="box-title"> 誕生日 </span>
        <section>
          <div>
            <input type="text" [(ngModel)]="profile.birthday" />
          </div>
        </section>
      </div>
      <div class="sex">
        <span class="box-title"> 性別 </span>
        <section>
          <div>
            <input type="text" [(ngModel)]="profile.sex" />
          </div>
        </section>
      </div>
      <div class="view-count">
        <span class="box-title"> 総再生数 </span>
        <section>
          <div>{{ profile.viewCount }}</div>
        </section>
      </div>
      <div class="subscriber-count">
        <span class="box-title"> 登録者数 </span>
        <section>
          <div>{{ profile.subscriberCount }}</div>
        </section>
      </div>
      <div class="video-count">
        <span class="box-title"> 投稿動画 </span>
        <section>
          <div>{{ profile.videoCount }}</div>
        </section>
      </div>
      <div class="picture">
        <img [src]="profile.youtubeThumbnailsUrl" width="240px" height="240px" />
      </div>
    </div>
    <div class="grid-container2 edit-mode">
      <div class="site">
        <span class="box-title"> リンク </span>
        <section>
          <div class="site-font link-edit">
            <div class="edit-title">タイトル</div>
            <div class="edit-title">URL</div>
            <div>Youtube</div>
            <div>https://www.youtube.com/channel/{{ profile.youtubeChannelId }}</div>
            <ng-container *ngFor="let l of requestUserLinks; let i = index">
              <div><input type="text" [(ngModel)]="requestUserLinks[i].name" /></div>
              <div><input type="text" [(ngModel)]="requestUserLinks[i].url" /></div>
            </ng-container>
          </div>
        </section>
      </div>
      <div class="favorite">
        <span class="box-title"> 好き </span>
        <section>
          <div class="div-textarea">
            <textarea rows="2" [(ngModel)]="profile.favorite"></textarea>
          </div>
        </section>
      </div>
      <div class="hate">
        <span class="box-title"> きらい </span>
        <section>
          <div class="div-textarea">
            <textarea rows="2" [(ngModel)]="profile.hate"></textarea>
          </div>
        </section>
      </div>
      <div class="contents">
        <span class="box-title"> 活動内容 </span>
        <section>
          <div class="div-textarea">
            <textarea rows="2" [(ngModel)]="profile.contents"></textarea>
          </div>
        </section>
      </div>
      <div class="live-time">
        <span class="box-title"> 配信時間 </span>
        <div class="div-textarea" style="padding-top: 10px">
          <textarea rows="2" [(ngModel)]="profile.liveTimeMessage"></textarea>
        </div>
        <div class="edit-gantt">
          <ng-container *ngFor="let rts of requestUserTimeSchedules">
            <span>{{ showDay(rts.dayType) }}</span>
            <span><input type="number" [(ngModel)]="rts.startTime" />:00～</span>
            <span><input type="number" [(ngModel)]="rts.endTime" />:59</span>
          </ng-container>
        </div>
        <div class="gantt">
          <div class="gantt__row gantt__row--times">
            <div class="gantt__row-first"></div>
            <span>0</span><span></span><span></span> <span>3</span><span></span><span></span> <span>6</span><span></span><span></span>
            <span>9</span><span></span><span></span> <span>12</span><span></span><span></span> <span>15</span><span></span><span></span>
            <span>18</span><span></span><span></span> <span>21</span><span></span><span></span>
          </div>
          <div class="gantt__row gantt__row--lines" data-month="5">
            <span></span><span></span><span></span> <span></span><span></span><span></span> <span></span><span></span><span></span>
            <span></span><span></span><span></span> <span></span><span></span><span></span> <span></span><span></span><span></span>
            <span></span><span></span><span></span> <span></span><span></span><span></span>
          </div>
          <div class="gantt__row">
            <div class="gantt__row-first">平日</div>
            <ul class="gantt__row-bars">
              <ng-container *ngFor="let week of requestUserTimeSchedules">
                <ng-container
                  *ngIf="checkTimeByTimeSchedule(week, 'weekdays') && week.startTime !== undefined && week.endTime !== undefined"
                >
                  <li [style.grid-column]="week.startTime + 1 + '/' + (week.endTime + 2)"></li>
                </ng-container>
              </ng-container>
            </ul>
          </div>

          <div class="gantt__row">
            <div class="gantt__row-first">休日</div>
            <ul class="gantt__row-bars">
              <ng-container *ngFor="let week of requestUserTimeSchedules">
                <ng-container
                  *ngIf="checkTimeByTimeSchedule(week, 'holidays') && week.startTime !== undefined && week.endTime !== undefined"
                >
                  <li [style.grid-column]="week.startTime + 1 + '/' + (week.endTime + 2)"></li>
                </ng-container>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
      <div class="free-space">
        <span class="box-title"> フリースペース </span>
        <section>
          <div class="div-textarea">
            <textarea rows="6" [(ngModel)]="profile.freeSpace"></textarea>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- 保存ボタン -->

<hr />
<div class="field is-horizontal">
  <div class="field-label is-normal"></div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button class="button is-info" (click)="setProfile()">保存</button>
      </div>
    </div>
  </div>
</div>
