// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
$custom-typography: mat-typography-config(
  $font-family:
    'work sans,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,Osaka,メイリオ,Meiryo,ＭＳ Ｐゴシック,MS PGothic,sans-serif',
);
// 'arial, sans-serif',

// @include angular-material-typography($custom-typography);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kuro-yubune-primary: mat-palette($mat-indigo);
$kuro-yubune-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kuro-yubune-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kuro-yubune-theme: mat-light-theme(
  (
    color: (
      primary: $kuro-yubune-primary,
      accent: $kuro-yubune-accent,
      warn: $kuro-yubune-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kuro-yubune-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: arial, sans-serif;
}

.mat-typography p{
  margin: 0 ;
}

// モバイル版の画像表示時にスクロールがトップに行く不具合対応
// https://github.com/biati-digital/glightbox/issues/22
.glightbox-open {
  height: auto;
}
